<section id="howto" class="text-justify">
    <h2>Comment ça marche ?</h2>
    <p>Afin que le fichier puisse se séparer en plusieurs fichiers, quelques conditions doivent etre réunit :</p>

    <ol>
        <li><strong>Le fichier doit etre en format PDF.</strong> En effet un fichier qui n'est pas de ce format ne sera pas accepté.</li>
        <li>Un séparateur est une page qui contient un <strong>QrCode</strong>. La valeur par défaut de ce QRCode est <i><strong>"intercalary".</strong></i></li>
    </ol>

    <p>Et après ? Il suffit d'<i>uploader</i> le fichier PDF en question et on s'en charge du reste ! Vous pouvez telecharger les fichiers séparés une fois terminé!</p>
</section>