<div class="row" id="howto">
    <div class="col-md-4">
        <h4>Quel type de fichier ?</h4>
        <strong>Le fichier doit etre en format PDF.</strong> En effet, un fichier qui n'est pas de ce format ne sera pas accepté.
    </div>

    <div class="col-md-4">
        <h4>QRCode ?</h4>
        <p>
            Les pages de votre fichier PDF seront séparées dans des fichiers différents. En effet PDFraktor détecte les
            QRCodes qui seront considérés comme séparateurs au sein de votre document.
            Le code séparateur est <strong><i>"{{ separator }}"</i></strong>
        </p>
    </div>

    <div class="col-md-4">
        <h4>Et après ?</h4>
        <p>Vous serez redirigé vers une page afin de télécharger les documents bien séparés.</p>
    </div>
</div>