<footer id="sticky-footer" class="py-4">
    <div class="container text-center">
        <small class="text-muted">Copyright &copy 2020; PDFraktor |
            <a href="#">Mentions légales</a> |
            <a href="#">CGU</a>
        </small>
    </div>
</footer>