{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Mentions légales</h1>
        <h2>Editeur</h2>

        <p>Société</p>
        <p>Rue</p>
        <p>CP VILLE</p>
        <p>PAYS</p>

        <p>Directeur de la publication : Prénom Nom, Fonction</p>
        <p>Co-directeur de la publication : Prénom Nom, Fonction</p>

        <h2>Hébergement</h2>

        <p>Société</p>
        <p>Rue</p>
        <p>CP VILLE</p>
        <p>PAYS</p>
    </div>

{% endblock %}


