{% extends 'base.html.twig' %}

{% block title %}Oups ! Un erreur s'est produite !{% endblock %}

{% block body %}
    <div class="container text-center mt-4">
        <h1>Oups ! Un erreur s'est produite !</h1>
        <p>Veuillez contacter l'administrateur pour toute information.</p>
    </div>
{% endblock %}