{% extends 'base.html.twig' %}

{% block title %}Page introuvable !{% endblock %}

{% block body %}
    <div class="container text-center mt-4">
        <h1>Page introuvable !</h1>
        <p>Veuillez vérifier l'URL ou <a href="{{ path('home') }}">revenir à l'accueil</a>.</p>
    </div>
{% endblock %}